<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="Rock"
          class="main.entities.RockMusic"
        factory-method="factory">

    </bean>
    <bean id="Classical"
          class="main.entities.ClassicalMusic">
    </bean>
    <bean id="Electro"
          class="main.entities.ElectroMusic">
    </bean>
    <bean id="musicPlayer"
          class="main.entities.MusicPlayer"
          scope="prototype">
          <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList">
            <list>
                <ref bean="Rock"/>
                <ref bean="Classical"/>
                <ref bean="Electro"/>
            </list>
        </property>
    </bean>

    <!--util:list id="list" value-type="main.entities.Music">
        <ref bean="Rock"/>
        <ref bean="Classical"/>
        <ref bean="Electro"/>
    </util:list-->

</beans>