<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<!-- action - url, по которому будет произведён запрос с указанным методом -->
<form method="POST" action="/people">

<!--  label позволяет указать название полю для ввода. атрибут for указывает на id элемента, для которого предназначено название  -->
    <label for="name">NameL</label>

<!--  атрибут name используется для передачи данных на сервер. Там это имя будет использовано как ключ для получения значения параметра -->
<!--  атрибут id используется на html странице. В данном случае для использования label  -->
<!--  Текст внутри тега встаёт после поля для ввода, а label перед ним  -->
<!--  type - тип элемента формы. В данном случае элемент является полем для ввода строки, которая будет отправлена на сервер  -->
    <input type="text" name="name" id="name">Name</input>
    <br/>

<!--  этот тип input добавляет на страницу кнопку, которая передаёт данные формы на сервер  -->
<!--  value - хз, но кажется просто текст, который будет на кнопке  -->
    <input type="submit" value="MyShit">Send this shit</input>
</form>


</body>
</html>